<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ospVermSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ospVermSuite.Properties.Settings>
            <setting name="TooltipRadius" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DrawPrecisionColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrecisionGood" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="PrecisionGoodColor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PrecisionMediumColor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PrecisionBad" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="PrecisionBadColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrecisionPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrecisionHeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LayerByCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LayerPrefix" serializeAs="String">
                <value>IBK-</value>
            </setting>
            <setting name="TextLayerPostfix" serializeAs="String">
                <value>-txt</value>
            </setting>
            <setting name="LabelBlock" serializeAs="String">
                <value>Beschriftung</value>
            </setting>
            <setting name="BlockScale" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="LabelScale" serializeAs="String">
                <value>0.2</value>
            </setting>
        </ospVermSuite.Properties.Settings>
    </userSettings>
</configuration>